DATABASE_URL=postgresql://postgres:12345@postgresdb:5432/postgres
NODE_ENV=development
APPLICATION_SECRET='s0/\/\P4$$w0rD'
APPLICATION_URL=http://0.0.0.0:3001
FRONTEND_URL=http://localhost:3000
PORT=3001
DOCS_PASSWORD=
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_S3_BUCKET_NAME=local-bucket
AWS_S3_ENDPOINT=http://aws-s3:4566
